.menu-wrapper{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in;
}

.menu-area{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -1;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    overflow: auto;

    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;

    background-color: #FFFFFF;
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
}

.menu-wrapper:target{
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in;
}


/* menu header */

.menu-header{
    display: flex;
    height: 88px;
    align-items: center;
}

.menu__header{
    margin: 24px;
    margin-bottom: 42px;
}

.menu__logo{
    flex-shrink: 0;
    margin-left: 16px;
    margin-right: 78px;
}

.menu__search{
    flex-shrink: 0;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.menu__close{
    flex-shrink: 0;
    background-image: url('../img/close.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* menu navigation */

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-link{
    display: flex;
    align-items: center;
    padding-left: 24px;
    height: 40px;
}

.menu-link:hover{
    background-color: rgb(245, 245, 245);
}

.menu-link_active{
    position: relative;
}

.menu-link_active::before{
    content: '';
    position: absolute;
    top: -4px;
    left: -24px;

    display: inline-block;
    height: 32px;

    border-left: 4px solid #41F6D7;
    border-radius: 0 5px 5px 0;
}

.link_active{
    color: #7E7E82;
}


/* menu footer */

.menu__footer{
    margin-left: 24px;
    margin-top: auto;
}

.menu__email{
    display: block;
    margin: 16px 0 12px 0;
}

.menu__telephone {
    display: block;
    margin: 0;
    margin-bottom: 40px;
}

.tel-link{
    font-family: 'TT Lakes Bold', Arial, sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #1B1C21;
    text-decoration: none;
}

.menu__languages-list{
    display: flex;
    margin-bottom: 32px;
}

.languages-list__link{
    margin-right: 7px;
}