.popup-wrapper{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    overflow: auto;

    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;

    background-color: #FFFFFF;
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
}

.popup-wrapper.open{
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in;

    z-index: 2;
}


/* menu header */

.menu-header{
    display: flex;
    height: 88px;
    align-items: center;
}

.menu__header{
    margin: 24px 16px 38px 16px;
}

.menu__logo{
    flex-shrink: 0;
    margin-left: 16px;
    margin-right: 78px;
}

.menu__search{
    flex-shrink: 0;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.button-close{
    flex-shrink: 0;
    background-image: url('../img/close.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* menu navigation */

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-link{
    display: flex;
    align-items: center;
    padding-left: 16px;
    height: 36px;
}

.menu-link:hover:not(.menu-link_active){
    background-color: rgb(245, 245, 245);
}

.menu-link_active{
    position: relative;

}

.menu-link_active::before{
    content: '';
    position: absolute;
    top: 4px;
    left: 0;

    display: inline-block;
    height: 32px;

    border-left: 4px solid #41F6D7;
    border-radius: 0 5px 5px 0;
}

.link_active{
    color: #7E7E82;
}


/* menu footer */

.menu__footer{
    margin-left: 24px;
    margin-top: auto;
}

.menu__email{
    display: block;
    margin: 16px 0 12px 0;
}

.menu__telephone {
    display: block;
    margin: 0;
    margin-bottom: 40px;
}

.tel-link{
    font-family: 'TT Lakes Bold', Arial, sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #1B1C21;
    text-decoration: none;
}

.contacts-link:not(.link_active):hover{
    color: rgb(255, 62, 121);
    text-decoration: underline;
}

.menu__languages-list{
    display: flex;
    margin-bottom: 32px;
}

.languages-list__link{
    margin-right: 7px;
}

/* Feedback styles */

.popup{
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px;

    width: 320px;
    height: 100vh;
    min-height: 676px;

    overflow: auto;
    z-index: 2;

    background-color: #FFFFFF;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
}

.popup-heading{
    position: relative;

    font-family: 'TT Lakes Bold', Arial, sans-serif;
    font-size: 24px;
    line-height: 32px;
}

.popup-heading::before{
    content: '';
    position: absolute;
    top: -5px;
    left: -16px;

    display: inline-block;
    height: 40px;

    border-left: 4px solid #41F6D7;
    border-radius: 0 5px 5px 0;
}

.popup__heading{
    margin: 0 0 24px 0;
}

.form-item{
    padding: 12px 0 12px 16px;
    width: 100%;

    border: 1px solid #EAEAEA;
    border-radius: 8px;

    font-family: 'TT Lakes Regular', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.form-item:focus,
.form-item:active{
    outline-color: #FF3E79;
}

.feedback-form__item{
    margin-bottom: 16px;
}

.text-form{
    height: 118px;
}

.feedback-text{
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
}

.popup__text{
    margin: 16px 0 18px 0;
}

.feedback-link{
    color: #FF3E79;
    text-decoration: none;
}

.feedback-link:hover{
    text-decoration: underline;
}

.popup-submit-button{
    position: relative;
    display: block;
    width: 136px;
    height: 32px;
    padding:0;

    border: none;
    border-radius: 16px;
    background-color: #FF3E79;

    color: #FFFFFF;
    font-family: 'TT Lakes Bold', Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
}

.popup__button{
    margin: 19px 0 75px auto;
}

.popup-submit-button:hover{
    filter: saturate(3) brightness(1.2);
    transform: scale(1.03);
    transition: 0.5s ease-out;
}

.popup-submit-button .button-link__arrow{
    margin-right: 5px;
}

.popup-submit-button-text{
    text-transform: uppercase;
}

.popup-submit-button__text{
    margin-right: 15px;
}

.feedback__button-close,
.call__button-close{
    margin: 24px 0 40px 0;
}

/* 1440PX */

@media (min-width: 1440px){
    .menu-wrapper{
        position: absolute;

        opacity: 1;
        visibility: visible;
        background-color: transparent;

        z-index: 2;
        transition: none;
    }

    .menu{
        box-shadow: none;
        height: auto;
    }

    .menu__header{
        margin: 24px 24px 40px 24px;
    }

    .menu__logo{
        margin-left: 0;
        margin-right: 118px;
    }

    .menu-close-button{
        display: none;
    }

    .menu-link{
        height: 40px;
        padding-left: 24px;
    }

    .menu__help-section{
        margin-top: 228px;
    }

    .header-nav__button{
        margin-bottom: 0;
    }

    .popup{
        width: 440px;
        padding: 0 32px 0 32px;
    }

    .popup-heading::before{
        left: -32px;
    }

    .popup__heading{
        margin-top: 40px;
    }

    .popup-close-button{
        position: fixed;
        top: 0;
        right: 473px;

        z-index: 2;
    }
}
