@font-face{
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'TT Lakes ExtraBold';
    src: url('../fonts/TTLakes-ExtraBold.eot');
    src: url('../fonts/TTLakes-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-ExtraBold.woff') format('woff'),
    url('../fonts/TTLakes-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: 'TT Lakes', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #F8F8F8;
  color: #1B1C21;
  margin:0;
}

/* HEADER */

.header{
  background-color: #FFFFFF;
  height: 88px;
  display: flex;
  justify-content: space-between;
}

.left-column{
  display: flex;
  align-items: center;
}

.button{
  width: 40px;
  height: 40px;
  padding:0;
  font-size: 0;
  border: none;
  border-radius: 20px;
  background-color: #FF3E79;

}

.button:hover{
  filter: saturate(3) brightness(1.2);
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

.header__menu-button{
  margin-left: 26px;
  margin-right: 21px;
  padding: 0;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-call{
  background-image: url("../img/call.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-chat{
  background-image: url("../img/chat.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-profile{
  background-image: url("../img/profile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-repair{
  position: relative;
  background-image: url("../img/repair.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-repair::before{
  content: "";
  position: absolute;
  right: 150%;
  top: 5px;
  display: block;
  width: 2px;
  height: 32px;
  background-image: url("../img/divider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-status{
  background-image: url("../img/status.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-nav{
  display: flex;
  height: 88px;
}

.header-nav__button{
  margin: 24px 16px 24px 0;
}

.header-nav__button:last-of-type{
  margin-right: 16px;
}

.help-section_visibility{
  visibility: hidden;
  width: 1px;
}

.personal-section{
  height: 88px;
}

/* SERVICES SECTION */

.heading{
  font-family: 'TT Lakes ExtraBold', Arial, sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
}

.services-header{
  display: flex;
  justify-content: space-between;
}

.services__heading{
  margin-left: 24px;
  position: relative;
}

.services__heading::before{
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: -25px;
  height: 40px;
  border-left: 4px solid #41F6D7;
  border-radius: 0 5px 5px 0;
}

.services__user-section{
  list-style: none;
  display: none;
}

.services-header__button{
  display: flex;
	padding: 0;
  vertical-align: middle;

  background: none;
	border: none;

  font-family: inherit;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: inherit;
}

.services-header__button::after{
  content: "";
  width: 40px;
  height: 40px;
  margin-left: 8px;
  border-radius: 20px;
  background-color: #FF3E79;
}

.button-repair-text::after{
  background-image: url("../img/repair.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-status-text::after{
  background-image: url("../img/status.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-navigation__link {
  color: #7E7E82;
  text-decoration: none;
  white-space: nowrap;
}

.services-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: scroll;
  width: auto;

  font-size: 16px;
  line-height: 24px;
  list-style: none;
}

.services-navigation__list{
  margin: 0 37px 0 24px;
  padding: 0;
}

.services-list__item{
  height: 40px;
  text-align: center;
  padding: 8px 16px;
}

.services-list__item:not(.services-list__item_active):hover{
  background-color: rgb(234, 234, 234);
  border-radius:  6px;
  text-decoration: underline;
}

.services-list__item_active{
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius:  6px;
  min-width: 246px;
}

.services__description{
  display: flex;
  flex-direction: column;
  margin: 24px 16px 16px 16px;
}

.services-description__text{
  margin: 0 auto;
}

.services-description__info{
  height: 90px;
  overflow: hidden;
  margin-bottom: 10px;
}
.text-section{
  width:288px;
}

.services-description__link{
  font-weight: bold;
  color: #1B1C21;
  text-decoration: none;
  margin-left: 10px;
}

.services-description__link:hover{
  transform: scale(1.5);
  transition: 0.3s ease-out;
}

.services-description__link::before{
  content: "";
  width: 10px;
  height: 10px;
  padding-right: 26px;
  background-image: url("../img/arrows.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-description__image{
  max-width: 320px;
  margin: 15px auto 0 auto;
}


/* 768 PX */

@media (min-width: 768px){
  body{
    font-size: 14px;
    line-height: 20px;
  }

  .header__logo{
    margin-left: 20px;
  }

  .header__menu-button{
    position: relative;
  }

  .header__menu-button::before{
    content: "";
    position: absolute;
    left: 61px;
    top: 5px;
    display: block;
    width: 2px;
    height: 32px;
    background-image: url("../img/divider.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .help-section_visibility{
    visibility: visible;
    width: auto;
  }

  .header-nav__button:last-of-type{
    margin-right: 24px;
  }

  .personal-section{
    margin-left: 18px;
  }

  .services-list{
    overflow: scroll;
    width: auto;
  }

  .services-navigation__list{
    margin-right: 0;
  }

  .services__description{
    flex-direction: row;
    margin-bottom: 0;
    margin-top: 32px;
  }

  .text{
    margin: 0;
    padding-bottom: 20px;
  }

  .services-description__text{
    margin: 0;
    margin-left: 24px;
  }

  .text-section{
    width: 320px;
  }

  .services-description__info{
    min-height: 160px;
    margin-bottom: 10px;
  }

  .services-description__link{
    margin-left: 10px;
    margin-bottom: 16px;
  }

 .services-description__image{
   margin: 0;
   margin-left: 48px;
   max-width: 360px;
 }
}


/* 1120 PX */

@media (min-width: 1120px){
  .page-layout{
    margin: 0 auto;
    width: 1120px;
  }

  .header{
    display: none;
  }

  .heading{
    margin-top: 42px;
    margin-left: 32px;
    margin-bottom: 8px;
  }
  
  .services__user-section{
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

 .services__user-section-item{
   margin-top: 42px;
   margin-right: 32px;
 }

  .services-list{
    flex-wrap: wrap;
    width: 1070px;
    overflow: hidden;
  }

  .services-navigation__list{
    margin-left: 32px;
    margin-right: 0;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }
  .break + .services-list__item{
    margin-left: 20px;
    margin-top: 10px;
  }

  .services__description{
    flex-direction: row;
    margin-top: 32px;
  }

  .text-section{
    width: 490px;
  }

  .services-description__info{
    min-height: 160px;
    margin-bottom: 10px;
  }

  .services-description__image{
    margin: 0;
    margin-left: 36px;
    max-width: 530px;
  }
}
