@font-face{
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.eot');
  src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Medium.woff') format('woff'),
  url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

dl, dd{
  margin: 0;
}

/* GENERAL */

body{
  font-family: 'TT Lakes', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: #1B1C21;
  margin: 0;
}

.page-layout{
  background-color: #F8F8F8;
}

.page_centered{
  position: relative;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}

.button{
  width: 40px;
  height: 40px;
  padding:0;

  font-size: 0;
  border: none;
  border-radius: 20px;
  background-color: #FF3E79;

}

.button:hover{
  filter: saturate(3) brightness(1.2);
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

.heading{
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #7E7E82;
  text-transform: uppercase;
}

.heading_small{
  font-family: 'TT Lakes Medium', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #1B1C21;
  text-decoration: none;
}

/* HEADER */

.header{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

/* header left column */

.left-column{
  display: flex;
  align-items: center;
}

.menu-button{
  background-image: url('../img/menu.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.header__menu-button{
  margin-left: 26px;
  margin-right: 21px;
  padding: 0;
}

/* header right column */

.header-nav{
  display: flex;
}

.header-nav__button{
  margin: 24px 16px 24px 0;
}

.header-nav__button:last-of-type{
  margin-right: 16px;
}

.help-section_visibility{
  display: none;
}

.button-call{
  background-image: url('../img/call.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.button-chat{
  background-image: url('../img/chat.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.button-profile{
  background-image: url('../img/profile.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.button-repair{
  position: relative;
  background-image: url('../img/repair.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.button-repair::before{
  content: '';
  position: absolute;
  right: 50px;
  top: 5px;

  display: block;
  width: 2px;
  height: 32px;

  background-image: url('../img/divider.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.button-status{
  background-image: url('../img/status.svg');
  background-repeat: no-repeat;
  background-position: center;
}


/* SERVICES SECTION (main) */

/* services header */

.services-header{
  display: flex;
  justify-content: space-between;
}

.main-heading{
  font-family: 'TT Lakes Bold', Arial, sans-serif;
  font-size: 28px;
  line-height: 40px;
}

.services__heading{
  margin-left: 24px;
  position: relative;
}

.services__heading::before{
  content: '';
  position: absolute;
  top: 0;
  left: -24px;

  display: inline-block;
  height: 40px;

  border-left: 4px solid #41F6D7;
  border-radius: 0 5px 5px 0;
}

.services__user-section{
  list-style: none;
  display: none;
}

.services-header__button{
  display: flex;
	padding: 0;
  vertical-align: middle;

  background: none;
	border: none;

  line-height: 40px;
}

.services-header__button:hover{
  transform: scale(1.05);
  transition: 0.3s ease-out;
  text-decoration: underline;
}

.services-header__button::after{
  content: '';
  width: 40px;
  height: 40px;
  margin-left: 8px;
  border-radius: 20px;
  background-color: #FF3E79;
}

.services-header__button:hover::after{
  filter: saturate(3) brightness(1.2);
  transition: 0.3s ease-out;
}

.button-repair-text::after{
  background-image: url('../img/repair.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.button-status-text::after{
  background-image: url('../img/status.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* services navigation */

.services-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: scroll;
  width: auto;
  list-style: none;
}

.services-navigation__list{
  margin: 0 37px 0 24px;
  padding: 0;
}

.services-list__item{
  text-align: center;
  padding: 6px 16px;
}

.services-list__item:not(.services-list__item_active):hover{
  background-color: rgb(234, 234, 234);
  border-radius: 6px;
  text-decoration: underline;
}

.services-list__item_active{
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius:  6px;
  /*min-width: 246px;*/
}

.services-navigation__link {
  text-decoration: none;
  white-space: nowrap;
  text-transform: none;
}

/* services main section */

.services__description{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.services-description__text-section{
  margin: 0 auto;
}

.services-description-info_mobile{
  height: 90px;
  overflow: hidden;
}

.services-description-info_open{
  height: 480px;
}

.services-description-info_open_pc{
  height: 360px;
}

.services-description-info_desktop{
  overflow: hidden;
  height: 160px;
}

.services-description__info{
  margin-bottom: 10px;
}

.text-section{
  width:288px;
}

.services-description-button{
  position: relative;
  width: 150px;
  border: none;
  background-color:transparent;
}

.services-description-button:hover{
  color: #FF3E79;
  font-size: 17px;
  text-decoration: underline;
  transition: 0.1s ease;
}

.services-description__button{
  margin-left: 10px;
}

/*.services-description__link:hover{
  transform: scale(1.5);
  transition: 0.3s ease-out;
}*/

.services-description__button::before{
  content: '';
  
  position: absolute;
  top: 7px;
  left: 5px;

  width: 8px;
  height: 11px;
}

.services-description__button_closed::before{
  background-image: url('../img/arrows.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.readmore_opened::before{
  left: 25px;
  background-image: url('../img/arrows.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.services-description__image{
  max-width: 320px;
  margin: 15px auto 0 auto;
}

/* Footer */

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 16px;
  color: #7E7E82;
  border-top: 1px solid #D9FFF5;
}

.footer-text{
  text-align: center;
  max-width: 320px;
}

.footer__text{
  margin: 16px 0 16px 0;
}

.footer-link:hover{
  color: #FF3E79;
  text-decoration: underline;
}

.footer__link{
  color: #7E7E82;
  text-decoration: none;
}


/* 768 PX */

@media (min-width: 768px){
  body{
    font-size: 14px;
    line-height: 20px;
  }

  .header__logo{
    margin-left: 20px;
  }

  .header__menu-button{
    position: relative;
  }

  .header__menu-button::before{
    content: '';
    position: absolute;
    left: 61px;
    top: 5px;

    display: block;
    width: 2px;
    height: 32px;

    background-image: url('../img/divider.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .help-section_visibility{
    display: block;
  }

  .header-nav__button:last-of-type{
    margin-right: 24px;
  }

  .button-repair::before{
    right: 60px;
  }

  .personal-section_extra-margin{
    margin-left: 18px;
  }

  .services-list{
    overflow: scroll;
    width: auto;
  }

  .services-navigation__list{
    margin-right: 0;
  }

  .services__description{
    flex-direction: row;
    width: 720px;
    margin: 32px auto 0 auto;
  }

  .services-description__text{
    margin: 0;
    padding-bottom: 20px;
  }

  .services-description__text-section{
    margin: 0;
  }

  .text-section{
    width: 320px;
  }

  .text-wrapper{
    min-height: 160px;
  }

  .services-description__info{
    margin-bottom: 10px;
  }

  .services-description__button{
    margin-left: 10px;
    margin-bottom: 16px;
  }

  .services-image{
    max-width: 360px;
    height: 100%;
  }

 .services-description__image{
   margin: 0;
   margin-left: 48px;
 }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer-text{
    width: 33%;
  }

  .footer-text:first-of-type{
    text-align: left;
  }

  .footer-text:last-of-type{
    text-align: right;
  }
}


/* 1440 PX */

@media (min-width: 1440px){
  .page-layout{
    position: absolute;
    left: 320px;
    margin: 0 auto;
    width: 1120px;
  }

  .main-page{

    width: 1120px;
  }

  .header{
    display: none;
  }

  .services__heading{
    margin-top: 42px;
    margin-left: 32px;
    margin-bottom: 8px;
  }
  
  .services__user-section{
    display: flex;
    margin: 0;
    padding: 0;
  }

 .services__user-section-item{
   margin-top: 42px;
   margin-right: 32px;
 }

  .services-list{
    flex-wrap: wrap;
    width: 1070px;
    overflow: hidden;
  }

  .services-navigation__list{
    margin-left: 32px;
    margin-right: 0;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  .break + .services-list__item{
    margin-left: 20px;
    margin-top: 10px;
  }

  .services-description{
    width: 1056px;
  }

  .services__description{
    flex-direction: row;
    margin-top: 32px;
  }

  .text-section{
    width: 490px;
  }

  .services-description__info{
    margin-bottom: 10px;
  }

  .services-image{
    max-width: 530px;
  }

  .services-description__image{
    margin: 0;
    margin-left: 36px;
  }

  .footer{
    padding-left: 32px;
    padding-right: 32px;
  }

}
